{% extends 'home/base.html' %}
{% load static %}

{% block body %}
    <!--<div class="container-fluid ps-1 pe-1">-->
        <div class="card shadow-lg ps-1 pe-1 m-1 bg-body-tertiary rounded" style="border-radius: 1rem;">
            <div class="card-body">
                <form method="get">
                    <table class="table table-hover table-bordered rounded w-50">
                        <thead class="" style="font-size: 0.7rem;">
                            <tr>
                                <th class="text-center w-50 mb-3" id="shCyc" colspan="19">
                                    <img src="{% static 'home/images/koeberg.png' %}"  class="me-4" alt="koeberg" width="200px" height="100">{{ yrs }} Operating Shift Cycle
                                </th>
                            </tr>
                            <tr class="text-center">
                                <th scope="col">Day</th>
                                <th scope="col">Jan</th>
                                <th scope="col">Feb</th>
                                <th scope="col">Mar</th>
                                <th scope="col">Apr</th>
                                <th scope="col">May</th>
                                <th scope="col">Jun</th>
                                <th scope="col">Jul</th>
                                <th scope="col">Aug</th>
                                <th scope="col">Sep</th>
                                <th scope="col">Oct</th>
                                <th scope="col">Nov</th>
                                <th scope="col" class="border-start border-primary">Dec</th>
                                <th scope="col">A</th>
                                <th scope="col">B</th>
                                <th scope="col">C</th>
                                <th scope="col">D</th>
                                <th scope="col">E</th>
                                <th scope="col">F</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cycle in cycleAndDates %}
                                {% if cycle.cycleDate|date:"D" == "Sat" or cycle.cycleDate|date:"D" == "Sun" %}
                                    <tr class="text-center table-primary" style="font-size: 0.7rem;">
                                {% else %}
                                    <tr class="text-center" style="font-size: 0.7rem;">
                                {% endif %}
                                    <th scope="row">{{ cycle.cycleDate|date:"D" }}</th>
                                    <td>{{ cycle.janDate|date:"j" }}</td>
                                    <td>{{ cycle.febDate|date:"j" }}</td>
                                    <td>{{ cycle.marDate|date:"j" }}</td>
                                    <td>{{ cycle.aprDate|date:"j" }}</td>
                                    <td>{{ cycle.mayDate|date:"j" }}</td>
                                    <td>{{ cycle.junDate|date:"j" }}</td>
                                    <td>{{ cycle.julDate|date:"j" }}</td>
                                    <td>{{ cycle.augDate|date:"j" }}</td>
                                    <td>{{ cycle.sepDate|date:"j" }}</td>
                                    <td>{{ cycle.octDate|date:"j" }}</td>
                                    <td>{{ cycle.novDate|date:"j" }}</td>
                                    <td class="border-start border-primary">{{ cycle.decDate|date:"j" }}</td>
                                    <td>{{ cycle.caShift }}</td>
                                    <td>{{ cycle.cbShift }}</td>
                                    <td>{{ cycle.ccShift }}</td>
                                    <td>{{ cycle.cdShift }}</td>
                                    <td>{{ cycle.ceShift }}</td>
                                    <td>{{ cycle.cfShift }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </form>
            </div>
        </div>  
    <!--</div>-->


{% endblock %}