{% extends 'home/base.html' %}

{% block body %}
  
    <div style="">
    <table class="table table-hover table-bordered rounded shadow-lg w-50" id="manPlan">
        <thead class="table-primary" style="position: sticky; top: 69px; z-index: 1;">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">FTM</th>
                {% for date in dateList %}
                    <th scope="col">{{date|date:"j"}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!----------A Shift---------->
            <tr class="table-dark" style="position: sticky; top: 98px; z-index: 1;">
                <th></th>
                <th>A-Shift</th>
                <th></th>
                {% for i in counter %}
                    <th>N</th>
                {% endfor %}
            </tr>
            {% for key, value in aList.items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td class="text-nowrap">{{ key }}</td>
                <td>FTL</td>
                {% for val in value %}
                    <td>{{val}}</td>
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------B Shift---------->
            <tr style="position: sticky; top: 98px; z-index: 1;">
                <th></th>
                <th>B-Shift</th>
                <th></th>
                {% for i in counter %}
                    <th>S</th>
                {% endfor %}
            </tr>
            {% for key, value in bList.items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td class="text-nowrap">{{ key }}</td>
                <td>FTL</td>
                {% for val in value %}
                    <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------C Shift---------->
            <tr style="position: sticky; top: 98px; z-index: 1;">
                <th></th>
                <th>C-Shift</th>
                <th></th>
                {% for i in counter %}
                    <th>M</th>
                {% endfor %}
            </tr>
            {% for key, value in cList.items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td class="text-nowrap">{{ key }}</td>
                <td>FTL</td>
                {% for val in value %}
                    <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------D Shift---------->
            <tr style="position: sticky; top: 98px; z-index: 1;">
                <th></th>
                <th>D-Shift</th>
                <th></th>
                {% for i in counter %}
                    <th>A</th>
                {% endfor %}
            </tr>
            {% for key, value in dList.items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td class="text-nowrap">{{ key }}</td>
                <td>FTL</td>
                {% for val in value %}
                    <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------E Shift---------->
            <tr style="position: sticky; top: 98px; z-index: 1;">
                <th></th>
                <th>E-Shift</th>
                <th></th>
                {% for i in counter %}
                    <th>N</th>
                {% endfor %}
            </tr>
            {% for key, value in eList.items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td class="text-nowrap">{{ key }}</td>
                <td>FTL</td>
                {% for val in value %}
                    <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------F Shift---------->
            <tr style="position: sticky; top: 98px; z-index: 1;">
                <th></th>
                <th>F-Shift</th>
                <th></th>
                {% for i in counter %}
                    <th>M</th>
                {% endfor %}
            </tr>
            {% for key, value in fList.items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td class="text-nowrap">{{ key }}</td>
                <td>FTL</td>
                {% for val in value %}
                    <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------O Shift---------->
            <tr style="position: sticky; top: 98px; z-index: 1;">
                <th></th>
                <th>O-Shift</th>
                <th></th>
                {% for i in counter %}
                    <th> </th>
                {% endfor %}
            </tr>
            {% for key, value in oList.items %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td class="text-nowrap">{{ key }}</td>
                <td>FTL</td>
                {% for val in value %}
                    <td>{{ val }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------END---------->
            <tr>
                <th></th>
                <th></th>
                <th></th>
                {% for i in counter %}
                    <th> </th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}