{% extends 'home/base.html' %}

{% block body %}

    <div style="">
    <table class="table table-hover table-bordered rounded shadow-lg w-50 border border-white" id="manPlan"> <!--onclick="alert(event.target.innerText)"-->
        <thead style="position: sticky; top: 67px; z-index: 1;">
            <tr>
                <th id="hname"></th>
                <th id="hname" class="d-flex justify-content-center">
                    <nav>
                        <ul class="pagination pagination-sm mb-0">
                            <li>
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-sm me-1" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-sm" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </th>
                <th id="hname"></th>
                {% for mnth, count in counter.items %}
                     <th colspan="{{count}}" style="text-align: center; font-size: 20px;" class="uppercase" id="hname">{{mnth}}</th>
                {% endfor %}
            </tr>
            <tr>
                <th scope="col" id="hname"></th>
                <th scope="col" style="text-align: center;" id="hname">Name</th>
                <th scope="col" id="hname"></th>
                {% for date in dateList %}
                    <th scope="col" id="hname">{{date|date:"j"}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!----------A Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="heads"></th>
                <th id="heads">A-SHIFT</th>
                <th id="heads"></th>
                {% for val in aCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #e9e9fa;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in aList.items %}
            <tr> <!--onclick="rowNum(this)"-->
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                    {% if forloop.counter == 1 %}
                        <td id="FTM" style="text-align: center;">{{val}}</td>
                    {% else %}
                        <td id="{{val}}" style="background-color: #e9e9fa; text-align: center;">{{val}}</td> <!--onclick="colNum(this)"-->
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------B Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="heads"></th>
                <th id="heads">B-SHIFT</th>
                <th id="heads"></th>
                {% for val in bCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #e9e9fa;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in bList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                    {% if forloop.counter == 1 %}
                        <td id="FTM" style="text-align: center;">{{val}}</td>
                    {% else %}
                        <td id="{{val}}" style="background-color: #e9e9fa; text-align: center;">{{val}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------C Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="heads"></th>
                <th id="heads">C-SHIFT</th>
                <th id="heads"></th>
                {% for val in cCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #e9e9fa;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in cList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                    {% if forloop.counter == 1 %}
                        <td id="FTM" style="text-align: center;">{{val}}</td>
                    {% else %}
                        <td id="{{val}}" style="background-color: #e9e9fa; text-align: center;">{{val}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------D Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="heads"></th>
                <th id="heads">D-SHIFT</th>
                <th id="heads"></th>
                {% for val in dCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #e9e9fa;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in dList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                {% if forloop.counter == 1 %}
                    <td id="FTM" style="text-align: center;">{{val}}</td>
                {% else %}
                    <td id="{{val}}" style="background-color: #e9e9fa; text-align: center;">{{val}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------E Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="heads"></th>
                <th id="heads">E-SHIFT</th>
                <th id="heads"></th>
                {% for val in eCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #e9e9fa;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in eList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                {% if forloop.counter == 1 %}
                    <td id="FTM" style="text-align: center;">{{val}}</td>
                {% else %}
                    <td id="{{val}}" style="background-color: #e9e9fa; text-align: center;">{{val}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------F Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="heads"></th>
                <th id="heads">F-SHIFT</th>
                <th id="heads"></th>
                {% for val in fCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #e9e9fa;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in fList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                    {% if forloop.counter == 1 %}
                    <td id="FTM" style="text-align: center;">{{val}}</td>
                {% else %}
                    <td id="{{val}}" style="background-color: #e9e9fa; text-align: center;">{{val}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------O Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="heads"></th>
                <th id="heads">O-SHIFT</th>
                <th id="heads"></th>
                {% for i in cnt %}
                    <th style="background-color: #e9e9fa;"> </th>
                {% endfor %}
            </tr>
            {% for key, value in oList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                {% if forloop.counter == 1 %}
                    <td id="FTM" style="text-align: center;">{{val}}</td>
                {% else %}
                    <td id="{{val}}" style="background-color: #e9e9fa; text-align: center;">{{val}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------END---------->
            <tr>
                <th></th>
                <th></th>
                <th></th>
                {% for i in counter %}
                    <th> </th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<script>
    const cells = document.querySelectorAll('td');
    cells.forEach(cell => {
    cell.addEventListener('click', () => 
        // console.log("Row index: " + cell.closest('tr').rowIndex + " | Column index: " + cell.cellIndex);
        cellAdd(cell.closest('tr').rowIndex, cell.cellIndex));
        
    });

    function cellAdd(x, y) {
        // console.log(parseInt(x-2) + "," + parseInt(y-2));
        // console.log("Current Position: " + event.target.innerText)
        if (parseInt(y-2)>0) {
            let position = prompt("Enter Position:");
            fetch('', {
                method: 'POST',
                headers: {
                    "X-CSRFToken": "{{csrf_token}}",
                    "Content-Type": "application/json",
                },
                body: (String(parseInt(x-2)) + "," + String(parseInt(y-2)) + "," + position)
            })
            location.reload(true)
        }
    }

</script>

{% endblock %}