{% extends 'home/base.html' %}

{% block body %}

    <div style="">
    <table class="table table-hover table-bordered rounded shadow-lg w-50 border border-white" id="manPlan"> <!--onclick="alert(event.target.innerText)"-->
        <thead style="position: sticky; top: 67px; z-index: 1;">
            <tr>
                <th id="uname"></th>
                <th id="uname"></th>
                <th id="uname"></th>
                {% for mnth, count in counter.items %}
                     <th class="border border-primary border-2" colspan="{{count}}" style="text-align: center;" id="uname">{{mnth}}</th>
                {% endfor %}
            </tr>
            <tr>
                <th scope="col" id="uname"></th>
                <th scope="col" style="text-align: center;" id="uname">Name</th>
                <th scope="col" id="uname"></th>
                {% for date in dateList %}
                    <th scope="col" id="uname">{{date|date:"j"}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!----------A Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="uname"></th>
                <th id="uname">A-Shift</th>
                <th id="uname"></th>
                {% for val in aCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #f2f2f2;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in aList.items %}
            <tr> <!--onclick="rowNum(this)"-->
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                    {% if forloop.counter == 1 %}
                        <td id="FTM" style="text-align: center;">{{val}}</td>
                    {% else %}
                        <td id="{{val}}" style="background-color: #f2f2f2; text-align: center;">{{val}}</td> <!--onclick="colNum(this)"-->
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------B Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="uname"></th>
                <th id="uname">B-Shift</th>
                <th id="uname"></th>
                {% for val in bCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #f2f2f2;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in bList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                    {% if forloop.counter == 1 %}
                        <td id="FTM" style="text-align: center;">{{val}}</td>
                    {% else %}
                        <td id="{{val}}" style="background-color: #f2f2f2; text-align: center;">{{val}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------C Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="uname"></th>
                <th id="uname">C-Shift</th>
                <th id="uname"></th>
                {% for val in cCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #f2f2f2;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in cList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                    {% if forloop.counter == 1 %}
                        <td id="FTM" style="text-align: center;">{{val}}</td>
                    {% else %}
                        <td id="{{val}}" style="background-color: #f2f2f2; text-align: center;">{{val}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------D Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="uname"></th>
                <th id="uname">D-Shift</th>
                <th id="uname"></th>
                {% for val in dCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #f2f2f2;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in dList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                {% if forloop.counter == 1 %}
                    <td id="FTM" style="text-align: center;">{{val}}</td>
                {% else %}
                    <td id="{{val}}" style="background-color: #f2f2f2; text-align: center;">{{val}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------E Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="uname"></th>
                <th id="uname">E-Shift</th>
                <th id="uname"></th>
                {% for val in eCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #f2f2f2;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in eList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                {% if forloop.counter == 1 %}
                    <td id="FTM" style="text-align: center;">{{val}}</td>
                {% else %}
                    <td id="{{val}}" style="background-color: #f2f2f2; text-align: center;">{{val}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------F Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="uname"></th>
                <th id="uname">F-Shift</th>
                <th id="uname"></th>
                {% for val in fCycle %}
                    {% if val %}
                        <th id="{{val}}">{{ val }}</th>
                    {% else %}
                        <th style="background-color: #f2f2f2;" id="{{val}}">{{ val }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for key, value in fList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                    {% if forloop.counter == 1 %}
                    <td id="FTM" style="text-align: center;">{{val}}</td>
                {% else %}
                    <td id="{{val}}" style="background-color: #f2f2f2; text-align: center;">{{val}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------O Shift---------->
            <tr style="position: sticky; top: 133px; z-index: 1; text-align: center;">
                <th id="uname"></th>
                <th id="uname">O-Shift</th>
                <th id="uname"></th>
                {% for i in cnt %}
                    <th style="background-color: #f2f2f2;"> </th>
                {% endfor %}
            </tr>
            {% for key, value in oList.items %}
            <tr>
                <th scope="row" id="uname">{{ forloop.counter }}</th>
                <td class="text-nowrap" id="uname">{{ key }}</td>
                {% for val in value %}
                {% if forloop.counter == 1 %}
                    <td id="FTM" style="text-align: center;">{{val}}</td>
                {% else %}
                    <td id="{{val}}" style="background-color: #f2f2f2; text-align: center;">{{val}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}

            <!----------END---------->
            <tr>
                <th></th>
                <th></th>
                <th></th>
                {% for i in counter %}
                    <th> </th>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
<script>
    const cells = document.querySelectorAll('td');
    cells.forEach(cell => {
    cell.addEventListener('click', () => 
        // console.log("Row index: " + cell.closest('tr').rowIndex + " | Column index: " + cell.cellIndex);
        cellAdd(cell.closest('tr').rowIndex, cell.cellIndex));

    });

    function cellAdd(x, y) {
        // console.log(parseInt(x-2) + "," + parseInt(y-2));
        // console.log("Current Position: " + event.target.innerText)
        if (parseInt(y-2)>0) {
            let position = prompt("Enter Position:");
            fetch('', {
                method: 'POST',
                headers: {
                    "X-CSRFToken": "{{csrf_token}}",
                    "Content-Type": "application/json",
                },
                body: (String(parseInt(x-2)) + "," + String(parseInt(y-2)) + "," + position)
            })
        }
    }

</script>

{% endblock %}