.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #6563f6 !important;
    color:white !important;
}

h5 {
    color: #6563f6; 
}

#shCyc {
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana;
    color: white;
    background-color: black;
}

#manPlan {
    font-size: 10px;
}

#M {
    background-color: #89CFF0;
    color: black;
}

#A {
    background-color: Yellow;
    color: black;
}

#T {
    background-color: orange;
    color: black;
}

#S {
    background-color: red;
    color: black;
}

#N {
    background-color: black;
    color: white;
}

th.uppercase {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana;
}

#uname, #FTM, #FTL {
    font-size: 10px;
    font-weight: bold;
    font-family: Verdana;
    color: rgb(0, 0, 0);
    background-color: #d6eaf8;
}

#hname {
    font-size: 10px;
    font-weight: bold;
    font-family: Verdana;
    color: rgb(0, 0, 0);
    background-color: #d6eaf8;
}

#heads {
    font-size: 10px;
    font-weight: bold;
    font-family: Verdana;
    color: rgb(0, 0, 0);
    background-color: #d6eaf8;
}

