.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #6563f6 !important;
    color:white !important;
}

h5 {
    color: #6563f6; 
}

#shCyc {
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana;
    color: white;
    background-color: black;
}
